<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<div class="panel panel-default square_corners">
  <div class="panel-heading">
    <h4><%= t('.resend_unlock_instructions', :default => "Resend unlock instructions") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, html: { role: "form" } }) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control square_corners", placeholder: "Email" %>
      </div>
      <%= f.submit t('.resend_unlock_instructions', :default => "Resend unlock instructions"), class: "btn btn-sm btn-primary square_corners" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
