<tr>
  <td><%= definition.word %></td>
  <td><%= definition.word_type %></td>
  <td><%= definition.meaning %></td>
  <td class="table-button-cell"><%= button_to 'Display', definition, class: "btn btn-sm btn-default cell_padding square_corners", method: :get %></td>
  <td class="table-button-cell"><%= button_to 'Edit', edit_definition_path(definition), class: "btn btn-sm btn-default cell_padding square_corners", method: :get %></td>
  <td class="table-button-cell"><%= button_to 'Delete', definition, method: :delete, class: "btn btn-sm btn-danger cell_padding square_corners", data: { confirm: 'Are you sure you want to delete this definition?' } %></td>
</tr>
