<!DOCTYPE html>
<html>
<head>
  <title>Byron's Rails Dictionary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="nav navbar-nav">
        <h2 class="brand-header">Byron's Rails Dictionary</h2>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', definitions_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% if current_user %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
        <%= yield :more_links %>
      </ul>
      <div class="navbar-form navbar-left">
        <%= form_tag search_definitions_path, remote: true, method: :get do %>
            <div class="form-group">
          <%= search_field_tag :q, "", class: "form-control", placeholder: "Search" %>
          <%= submit_tag "Submit", class: "btn btn-default" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
  <div class="content">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <div class="footer">
    My footer
  </div>
</body>
</html>
