<!DOCTYPE html>
<html>
<head>
  <title>Byron's Rails Dictionary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse square_corners" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="nav navbar-nav">
        <h4 class="navbar-text navbar-left">Byron's Rails Dictionary</h4>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', definitions_path %></li>
        <%- if current_user.nil? %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end -%>
        <% if current_user %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
        <%= yield :more_links %>
      </ul>
      <div class="navbar-form navbar-left">
        <%= form_tag search_definitions_path, remote: true, method: :get do %>
            <div class="form-group">
          <%= search_field_tag :q, "", class: "form-control btn-sm square_corners", placeholder: "Search" %>
          <%= submit_tag "Submit", class: "btn btn-sm btn-default square_corners" %>
            </div>
        <% end %>
      </div>
      <p class="navbar-text navbar-right current_user">
        <% if current_user %>
        Logged in as <a href="#" class="navbar-link"><%= current_user.email %></a>
        <% end %>
      </p>
    </div>
  </div>
</nav>
  <div class="content">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="container-fluid">
    <a href="#">Links</a> | <a href="#">Contact Us</a>
  </div>
</nav>
</body>
</html>
