<!DOCTYPE html>
<html>
<head>
  <title>Rails Dictionary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="nav navbar-nav">
        <h1>Rails Dictionary</h1>
      </div>
      <ul class="nav navbar-nav">
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</nav>

  <%= yield %>

</body>
</html>
